@use '../index/index' as index;
@use '../common/common' as common;

body{
    @include index.body;
    color: common.$text-color;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}