@charset "UTF-8";

body {
	background-image: url("/img/index/kawaiilab.png");
	background-size: cover;
	/*画面いっぱいにカバー*/
	background-repeat: no-repeat;
	background-position: center;
	/*中央*/
	background-attachment: fixed;
	/*スクロール時固定*/

	font-family: "Anta", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.top-contents{
	display: flex;
	justify-content: center;
	color: white;
	margin-top: 90px;
	font-size: 60px;
}

.cards {
	display: flex;
	/* 横中央 */
	justify-content: center;
	margin-top: 160px;
	margin-bottom: 300px;
	gap: 20px;
	/* 要素の間隔 */
	flex-wrap: wrap;
}

.cards .card {
	background-color: rgba(0, 0, 0, 0.5);
	/* ← 半透明の黒背景 */
	border-radius: 20px;
	margin-left: 15px;
	margin-right: 15px;
	height: 290px;
	width: 230px;
	display: flex;
	align-items: center;
	flex-direction: column;
	
	transition: transform 0.6s;
}

.card a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: white;
	height: 100%;


}

.card p {
	font-size: 20px;
	margin: 20px;
}


.card .select-img {
	border-radius: 25px;
	width:200px;
	height: 210px;
}
.card:hover {
  transform: rotateZ(5deg) rotateX(15deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 浮き上がって見える影 */
}


