@charset "UTF-8";

body {
	background-image: url("/img/index/kawaiilab.png");
	background-size: cover;
	/*画面いっぱいにカバー*/
	background-repeat: no-repeat;
	background-position: center;
	/*中央*/
	background-attachment: fixed;
	/*スクロール時固定*/

	font-family: "Anta", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
}

.top-contents {
	display: flex;
	justify-content: center;
	color: white;
	margin-top: 90px;
	font-size: 60px;
}