<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Anta&family=BIZ+UDPGothic&family=Gupter:wght@400;500;700&family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
		rel="stylesheet">
</head>

<body>


	<h1 class="top-contents">KAWAII LAB.</h1>

	<div class="cards">
		<div class="card">
			<a href="/detailInfo?id=1">
				<p>KAWAII LAB.</p>
				<img src="img/index/kawaiilab_select.png" class="select-img">
			</a>
		</div>
		<div class="card">
			<a href="/detailInfo?id=2">
				<p>FRUITS ZIPPER</p>
				<img src="img/index/fruitszipper_select.png" class="select-img">
			</a>
		</div>
		<div class="card">
			<a href="/detailInfo?id=3">
				<p>CUTIE STREET</p>
				<img src="img/index/cutiestreet_select.png" class="select-img">
			</a>
		</div>
		<div class="card">
			<a href="/detailInfo?id=4">
				<p>CANDY TUNE</p>
				<img src="img/index/candytune_select.png" class="select-img">
			</a>
		</div>
	</div>


</body>

</html>